
* {
    position: relative;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;

}
html,body {
    position: relative;
    height : 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: "Mukta", sans-serif;
}

section {
    position: relative;
    width: 60%;
    margin: 2rem auto;
    box-shadow: 1px 10px 20px 3px rgba(0,0,0,0.1);
    padding: 2rem;
    border-radius: 10px;
}

h1 {
    text-align: center;
    padding: 10px;
    background: #7012;
    color: #444b0b;
    font-size: 35px;
    font-weight: 900;
    margin: 0;
}

section div.row {
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;
   gap: 5px;
}

section div.row label {
    font-size: 20px;
    color: #373333;
    font-weight: 500;
}

section div.row input,section div.row textarea {
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 15px;
    color: #000;
    font-size: 25px;
}

section div.row textarea {
   height: auto !important;
}

section .primary-btn {
    padding: 8px 30px;
    background: black;
    color: #fff;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 1rem auto;
}

section .center {
    text-align:center;
}